### EXPENSES CATEGORIZATION

In [1]:
import xml.etree.ElementTree as ET
import pandas as pd
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import contractions
from nltk.tokenize import word_tokenize
import string

In [2]:
df_emp_comm = pd.read_excel('bill_dataset.xlsx')

In [3]:
import pandas as pd

def format_dataframe_to_one_line(df, column_name):
    # Convert each row in the specified column to a single-line format
    df[column_name] = df[column_name].astype(str).apply(lambda row: ' | '.join(row.splitlines()))
    return df


column_name = "Bill_Data"  # Specify the column name

# Convert the specified column to a single-line format
df_one_line = format_dataframe_to_one_line(df_emp_comm, column_name)

# Print the first few lines as a preview
print(df_one_line.head())

                                           Bill_Data
0   | 42/FO/OP/01 | NAWALOKA HOSPITALS PIC | TEL:...
1   | Pizza Hut | NO. 84, Galle Road, Mount Lavin...
2  S | ees | TAX INVOICE | Dominos Pizza - Dehiwa...
3   | Keells | No. 290, Old Galle Rd, Gorakana, P...
4  ONTIME CELLULAR (Pvt) | "Innovation of a new G...

In [4]:
df_one_line

                                            Bill_Data
0    | 42/FO/OP/01 | NAWALOKA HOSPITALS PIC | TEL:...
1    | Pizza Hut | NO. 84, Galle Road, Mount Lavin...
2   S | ees | TAX INVOICE | Dominos Pizza - Dehiwa...
3    | Keells | No. 290, Old Galle Rd, Gorakana, P...
4   ONTIME CELLULAR (Pvt) | "Innovation of a new G...
5   KANDOS SHOP-FORT RECEIPT | INVOICE: 75272 | DE...
6   Hotel De Piaza (Pvt) Ltd # $29, alle Road, Col...
7   (Prx ale) Landed | Type | Catego y | FULL | E ...
8   CASHIER-01 | Hil naan | No. 46,Station Road, D...
9   KESHARA TRAVELS.NB-1073 PERMIT:11756.RT-04 | N...
10  CARGILLS FOOD CITY Express Hunupitiya | 011294...
11  42/FO/OP/01 | NAWALOKA HOSPITALS PIC TEL: +94 ...
12  GREEN FIELD | 5305 E PACIFIC COAST HWY Long Be...
13  Keells | No.290,0ld Galle Rd, Gorakana, Panadu...
14  Keells | No. 290, 01d Galle Rd, Gorakana, Pana...
15  SPARO | KELANIYA | , Kandy Road, Dalugama, Kal...
16  COOL PLANET | E-Bill | PDF | LIFE IN STYLE | C...
17  NOLIMIT | Receipt No: | #01, HILL STREET | DEH...
18  NEW PHILIP HOSPITALS PVT LTD | 225, Galle Road...
19   | N | M | CS: | waves | Sri Lanka | Waves-Hav...
20  Keells | No. 35, Upathissa Road, Bambalapitiya...
21  Keells | No. 35, Upathissa Road, Bambalapitiya...
22   | Dialog | Payment confirmation | Transaction...
23   | K | king N thai | 354/A, Galle Road, Thalpi...
24  K | Keells E-Bills 18/04/2023 | to me | Bill D...
25  COOL PLANET | NO# 149. | S.DE.S. JAYASINGHE MA...
26  K | 13:01 376 | KB/ | QD | LTE 1 | 59% | Vol) ...
27  Carnage | Thank you for your purchase! | Visit...
28  Thank you for your purchase! | Hi Chsndi ma, |...
29  rrage | ORDER #226082 | Thank you for your pur...

In [5]:
#remove special characters from pros&cons column
df_one_line['Bill_Data'] = df_one_line['Bill_Data'].str.replace('\W', ' ', regex=True)

In [6]:
df_one_line

                                            Bill_Data
0      42 FO OP 01   NAWALOKA HOSPITALS PIC   TEL ...
1      Pizza Hut   NO  84  Galle Road  Mount Lavin...
2   S   ees   TAX INVOICE   Dominos Pizza   Dehiwa...
3      Keells   No  290  Old Galle Rd  Gorakana  P...
4   ONTIME CELLULAR  Pvt     Innovation of a new G...
5   KANDOS SHOP FORT RECEIPT   INVOICE  75272   DE...
6   Hotel De Piaza  Pvt  Ltd    29  alle Road  Col...
7    Prx ale  Landed   Type   Catego y   FULL   E ...
8   CASHIER 01   Hil naan   No  46 Station Road  D...
9   KESHARA TRAVELS NB 1073 PERMIT 11756 RT 04   N...
10  CARGILLS FOOD CITY Express Hunupitiya   011294...
11  42 FO OP 01   NAWALOKA HOSPITALS PIC TEL   94 ...
12  GREEN FIELD   5305 E PACIFIC COAST HWY Long Be...
13  Keells   No 290 0ld Galle Rd  Gorakana  Panadu...
14  Keells   No  290  01d Galle Rd  Gorakana  Pana...
15  SPARO   KELANIYA     Kandy Road  Dalugama  Kal...
16  COOL PLANET   E Bill   PDF   LIFE IN STYLE   C...
17  NOLIMIT   Receipt No     01  HILL STREET   DEH...
18  NEW PHILIP HOSPITALS PVT LTD   225  Galle Road...
19     N   M   CS    waves   Sri Lanka   Waves Hav...
20  Keells   No  35  Upathissa Road  Bambalapitiya...
21  Keells   No  35  Upathissa Road  Bambalapitiya...
22     Dialog   Payment confirmation   Transaction...
23     K   king N thai   354 A  Galle Road  Thalpi...
24  K   Keells E Bills 18 04 2023   to me   Bill D...
25  COOL PLANET   NO  149    S DE S  JAYASINGHE MA...
26  K   13 01 376   KB    QD   LTE 1   59    Vol  ...
27  Carnage   Thank you for your purchase    Visit...
28  Thank you for your purchase    Hi Chsndi ma   ...
29  rrage   ORDER  226082   Thank you for your pur...

In [7]:
df_one_line['Bill_Data_cleaned'] = df_one_line['Bill_Data'].apply(lambda x: [contractions.fix(word) for word in x.split()])
df_one_line.head(5)

,Bill_Data,Bill_Data_cleaned
0,42 FO OP 01 NAWALOKA HOSPITALS PIC TEL ...,"[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL..."
1,Pizza Hut NO 84 Galle Road Mount Lavin...,"[Pizza, Hut, NO, 84, Galle, Road, Mount, Lavin..."
2,S ees TAX INVOICE Dominos Pizza Dehiwa...,"[S, ees, TAX, INVOICE, Dominos, Pizza, Dehiwal..."
3,Keells No 290 Old Galle Rd Gorakana P...,"[Keells, No, 290, Old, Galle, Rd, Gorakana, Pa..."
4,ONTIME CELLULAR Pvt Innovation of a new G...,"[ONTIME, CELLULAR, Pvt, Innovation, of, a, new..."

In [8]:
# Tokenised
df_one_line['tokenized'] =df_one_line['Bill_Data'].apply(word_tokenize)
df_one_line.head()

,Bill_Data,Bill_Data_cleaned,tokenized
0,42 FO OP 01 NAWALOKA HOSPITALS PIC TEL ...,"[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL..."
1,Pizza Hut NO 84 Galle Road Mount Lavin...,"[Pizza, Hut, NO, 84, Galle, Road, Mount, Lavin...","[Pizza, Hut, NO, 84, Galle, Road, Mount, Lavin..."
2,S ees TAX INVOICE Dominos Pizza Dehiwa...,"[S, ees, TAX, INVOICE, Dominos, Pizza, Dehiwal...","[S, ees, TAX, INVOICE, Dominos, Pizza, Dehiwal..."
3,Keells No 290 Old Galle Rd Gorakana P...,"[Keells, No, 290, Old, Galle, Rd, Gorakana, Pa...","[Keells, No, 290, Old, Galle, Rd, Gorakana, Pa..."
4,ONTIME CELLULAR Pvt Innovation of a new G...,"[ONTIME, CELLULAR, Pvt, Innovation, of, a, new...","[ONTIME, CELLULAR, Pvt, Innovation, of, a, new..."

In [9]:

# Converting all Characters to Lowercase

df_one_line['upper'] = df_one_line['tokenized'].apply(lambda x: [word.upper() for word in x])
df_one_line.head()

,Bill_Data,Bill_Data_cleaned,tokenized,upper
0,42 FO OP 01 NAWALOKA HOSPITALS PIC TEL ...,"[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL..."
1,Pizza Hut NO 84 Galle Road Mount Lavin...,"[Pizza, Hut, NO, 84, Galle, Road, Mount, Lavin...","[Pizza, Hut, NO, 84, Galle, Road, Mount, Lavin...","[PIZZA, HUT, NO, 84, GALLE, ROAD, MOUNT, LAVIN..."
2,S ees TAX INVOICE Dominos Pizza Dehiwa...,"[S, ees, TAX, INVOICE, Dominos, Pizza, Dehiwal...","[S, ees, TAX, INVOICE, Dominos, Pizza, Dehiwal...","[S, EES, TAX, INVOICE, DOMINOS, PIZZA, DEHIWAL..."
3,Keells No 290 Old Galle Rd Gorakana P...,"[Keells, No, 290, Old, Galle, Rd, Gorakana, Pa...","[Keells, No, 290, Old, Galle, Rd, Gorakana, Pa...","[KEELLS, NO, 290, OLD, GALLE, RD, GORAKANA, PA..."
4,ONTIME CELLULAR Pvt Innovation of a new G...,"[ONTIME, CELLULAR, Pvt, Innovation, of, a, new...","[ONTIME, CELLULAR, Pvt, Innovation, of, a, new...","[ONTIME, CELLULAR, PVT, INNOVATION, OF, A, NEW..."

In [10]:
punc = string.punctuation
df_one_line['no_punc'] = df_one_line['upper'].apply(lambda x: [word for word in x if word not in punc])
df_one_line.head()

,Bill_Data,Bill_Data_cleaned,tokenized,upper,no_punc
0,42 FO OP 01 NAWALOKA HOSPITALS PIC TEL ...,"[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL..."
1,Pizza Hut NO 84 Galle Road Mount Lavin...,"[Pizza, Hut, NO, 84, Galle, Road, Mount, Lavin...","[Pizza, Hut, NO, 84, Galle, Road, Mount, Lavin...","[PIZZA, HUT, NO, 84, GALLE, ROAD, MOUNT, LAVIN...","[PIZZA, HUT, NO, 84, GALLE, ROAD, MOUNT, LAVIN..."
2,S ees TAX INVOICE Dominos Pizza Dehiwa...,"[S, ees, TAX, INVOICE, Dominos, Pizza, Dehiwal...","[S, ees, TAX, INVOICE, Dominos, Pizza, Dehiwal...","[S, EES, TAX, INVOICE, DOMINOS, PIZZA, DEHIWAL...","[S, EES, TAX, INVOICE, DOMINOS, PIZZA, DEHIWAL..."
3,Keells No 290 Old Galle Rd Gorakana P...,"[Keells, No, 290, Old, Galle, Rd, Gorakana, Pa...","[Keells, No, 290, Old, Galle, Rd, Gorakana, Pa...","[KEELLS, NO, 290, OLD, GALLE, RD, GORAKANA, PA...","[KEELLS, NO, 290, OLD, GALLE, RD, GORAKANA, PA..."
4,ONTIME CELLULAR Pvt Innovation of a new G...,"[ONTIME, CELLULAR, Pvt, Innovation, of, a, new...","[ONTIME, CELLULAR, Pvt, Innovation, of, a, new...","[ONTIME, CELLULAR, PVT, INNOVATION, OF, A, NEW...","[ONTIME, CELLULAR, PVT, INNOVATION, OF, A, NEW..."

In [11]:
# df_one_line.to_csv("df_oneline.csv")

In [12]:
df_one_line

,Bill_Data,Bill_Data_cleaned,tokenized,upper,no_punc
0,42 FO OP 01 NAWALOKA HOSPITALS PIC TEL ...,"[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL..."
1,Pizza Hut NO 84 Galle Road Mount Lavin...,"[Pizza, Hut, NO, 84, Galle, Road, Mount, Lavin...","[Pizza, Hut, NO, 84, Galle, Road, Mount, Lavin...","[PIZZA, HUT, NO, 84, GALLE, ROAD, MOUNT, LAVIN...","[PIZZA, HUT, NO, 84, GALLE, ROAD, MOUNT, LAVIN..."
2,S ees TAX INVOICE Dominos Pizza Dehiwa...,"[S, ees, TAX, INVOICE, Dominos, Pizza, Dehiwal...","[S, ees, TAX, INVOICE, Dominos, Pizza, Dehiwal...","[S, EES, TAX, INVOICE, DOMINOS, PIZZA, DEHIWAL...","[S, EES, TAX, INVOICE, DOMINOS, PIZZA, DEHIWAL..."
3,Keells No 290 Old Galle Rd Gorakana P...,"[Keells, No, 290, Old, Galle, Rd, Gorakana, Pa...","[Keells, No, 290, Old, Galle, Rd, Gorakana, Pa...","[KEELLS, NO, 290, OLD, GALLE, RD, GORAKANA, PA...","[KEELLS, NO, 290, OLD, GALLE, RD, GORAKANA, PA..."
4,ONTIME CELLULAR Pvt Innovation of a new G...,"[ONTIME, CELLULAR, Pvt, Innovation, of, a, new...","[ONTIME, CELLULAR, Pvt, Innovation, of, a, new...","[ONTIME, CELLULAR, PVT, INNOVATION, OF, A, NEW...","[ONTIME, CELLULAR, PVT, INNOVATION, OF, A, NEW..."
5,KANDOS SHOP FORT RECEIPT INVOICE 75272 DE...,"[KANDOS, SHOP, FORT, RECEIPT, INVOICE, 75272, ...","[KANDOS, SHOP, FORT, RECEIPT, INVOICE, 75272, ...","[KANDOS, SHOP, FORT, RECEIPT, INVOICE, 75272, ...","[KANDOS, SHOP, FORT, RECEIPT, INVOICE, 75272, ..."
6,Hotel De Piaza Pvt Ltd 29 alle Road Col...,"[Hotel, De, Piaza, Pvt, Ltd, 29, alle, Road, C...","[Hotel, De, Piaza, Pvt, Ltd, 29, alle, Road, C...","[HOTEL, DE, PIAZA, PVT, LTD, 29, ALLE, ROAD, C...","[HOTEL, DE, PIAZA, PVT, LTD, 29, ALLE, ROAD, C..."
7,Prx ale Landed Type Catego y FULL E ...,"[Prx, ale, Landed, Type, Catego, y, FULL, E, B...","[Prx, ale, Landed, Type, Catego, y, FULL, E, B...","[PRX, ALE, LANDED, TYPE, CATEGO, Y, FULL, E, B...","[PRX, ALE, LANDED, TYPE, CATEGO, Y, FULL, E, B..."
8,CASHIER 01 Hil naan No 46 Station Road D...,"[CASHIER, 01, Hil, naan, No, 46, Station, Road...","[CASHIER, 01, Hil, naan, No, 46, Station, Road...","[CASHIER, 01, HIL, NAAN, NO, 46, STATION, ROAD...","[CASHIER, 01, HIL, NAAN, NO, 46, STATION, ROAD..."
9,KESHARA TRAVELS NB 1073 PERMIT 11756 RT 04 N...,"[KESHARA, TRAVELS, NB, 1073, PERMIT, 11756, RT...","[KESHARA, TRAVELS, NB, 1073, PERMIT, 11756, RT...","[KESHARA, TRAVELS, NB, 1073, PERMIT, 11756, RT...","[KESHARA, TRAVELS, NB, 1073, PERMIT, 11756, RT..."
10,CARGILLS FOOD CITY Express Hunupitiya 011294...,"[CARGILLS, FOOD, CITY, Express, Hunupitiya, 01...","[CARGILLS, FOOD, CITY, Express, Hunupitiya, 01...","[CARGILLS, FOOD, CITY, EXPRESS, HUNUPITIYA, 01...","[CARGILLS, FOOD, CITY, EXPRESS, HUNUPITIYA, 01..."
11,42 FO OP 01 NAWALOKA HOSPITALS PIC TEL 94 ...,"[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...","[42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL..."
12,GREEN FIELD 5305 E PACIFIC COAST HWY Long Be...,"[GREEN, FIELD, 5305, E, PACIFIC, COAST, HWY, L...","[GREEN, FIELD, 5305, E, PACIFIC, COAST, HWY, L...","[GREEN, FIELD, 5305, E, PACIFIC, COAST, HWY, L...","[GREEN, FIELD, 5305, E, PACIFIC, COAST, HWY, L..."
13,Keells No 290 0ld Galle Rd Gorakana Panadu...,"[Keells, No, 290, 0ld, Galle, Rd, Gorakana, Pa...","[Keells, No, 290, 0ld, Galle, Rd, Gorakana, Pa...","[KEELLS, NO, 290, 0LD, GALLE, RD, GORAKANA, PA...","[KEELLS, NO, 290, 0LD, GALLE, RD, GORAKANA, PA..."
14,Keells No 290 01d Galle Rd Gorakana Pana...,"[Keells, No, 290, 01d, Galle, Rd, Gorakana, Pa...","[Keells, No, 290, 01d, Galle, Rd, Gorakana, Pa...","[KEELLS, NO, 290, 01D, GALLE, RD, GORAKANA, PA...","[KEELLS, NO, 290, 01D, GALLE, RD, GORAKANA, PA..."
15,SPARO KELANIYA Kandy Road Dalugama Kal...,"[SPARO, KELANIYA, Kandy, Road, Dalugama, Kalan...","[SPARO, KELANIYA, Kandy, Road, Dalugama, Kalan...","[SPARO, KELANIYA, KANDY, ROAD, DALUGAMA, KALAN...","[SPARO, KELANIYA, KANDY, ROAD, DALUGAMA, KALAN..."
16,COOL PLANET E Bill PDF LIFE IN STYLE C...,"[COOL, PLANET, E, Bill, PDF, LIFE, IN, STYLE, ...","[COOL, PLANET, E, Bill, PDF, LIFE, IN, STYLE, ...","[COOL, PLANET, E, BILL, PDF, LIFE, IN, STYLE, ...","[COOL, PLANET, E, BILL, PDF, LIFE, IN, STYLE, ..."
17,NOLIMIT Receipt No 01 HILL STREET DEH...,"[NOLIMIT, Receipt, No, 01, HILL, STREET, DEHIW...","[NOLIMIT, Receipt, No, 01, HILL, STREET, DEHIW...","[NOLIMIT, RECEIPT, NO, 01, HILL, STREET, DEHIW...","[NOLIMIT, RECEIPT, NO, 01, HILL, STREET, DEHIW..."
18,NEW PHILIP HOSPITALS PVT LTD 225 Galle Road...,"[NEW, PHILIP, HOSPITALS, PVT, LTD, 225, Galle,...","[NEW, PHILIP, HOSPITALS, PVT, LTD, 225, Galle,...","[NEW, PHILIP, HOSPITALS, PVT, LTD, 225, GALLE,...","[NEW, PHILIP, HOSPITALS, PVT, LTD, 225, GALLE,..."
19,N M CS waves Sri Lanka Waves Hav...,"[N, M, CS, waves, Sri, Lanka, Waves, Havelock,...","[N, M, CS, waves, Sri, Lanka, Waves, Havelock,...","[N, M, CS, WAVES, SRI, LANKA, WAVES, HAVELOCK,...","[N, M, CS, WAVES, SRI, LANKA, WAVES, HAVELOCK,..."
20,Keells No 35 Upathissa Road Bambalapitiya...,"[Keells, No, 35, Upathissa, Road, Bambalapitiy...","[Keells, No, 35, Upathissa, Road, Bambalapitiy...","[KEELLS, NO, 35, UPATHISSA, ROAD, BAMBALAPITIY...","[KEELLS, NO, 35, UPATHISSA, ROAD, BAMBALAPITIY..."
21,Keells No 35 Upathissa Road Bambalapitiya...,"[Keells, No, 35, Upathissa, Road, Bambalapitiy...","[Keells, No, 35, Upathissa, Road, Bambalapitiy...","[KEELLS, NO, 35, UPATHISSA, ROAD, BAMBALAPITIY...","[KEELLS, NO, 35, UPATHISSA, ROAD, BAMBALAPITIY..."
22,Dialog Payment confirmation Transaction...,"[Dialog, Payment, confirmation, Transaction, I...","[Dialog, Payment, confirmation, Transaction, I...","[DIALOG, PAYMENT, CONFIRMATION, TRANSACTION, I...","[DIALOG, PAYMENT, CONFIRMATION, TRANSACTION, I..."
23,K king N thai 354 A Galle Road Thalpi...,"[K, king, N, thai, 354, A, Galle, Road, Thalpi...","[K, king, N, thai, 354, A, Galle, Road, Thalpi...","[K, KING, N, THAI, 354, A, GALLE, ROAD, THALPI...","[K, KING, N, THAI, 354, A, GALLE, ROAD, THALPI..."
24,K Keells E Bills 18 04 2023 to me Bill D...,"[K, Keells, E, Bills, 18, 04, 2023, to, me, Bi...","[K, Keells, E, Bills, 18, 04, 2023, to, me, Bi...","[K, KEELLS, E, BILLS, 18, 04, 2023, TO, ME, BI...","[K, KEELLS, E, BILLS, 18, 04, 2023, TO, ME, BI..."
25,COOL PLANET NO 149 S DE S JAYASINGHE MA...,"[COOL, PLANET, NO, 149, S, DE, S, JAYASINGHE, ...","[COOL, PLANET, NO, 149, S, DE, S, JAYASINGHE, ...","[COOL, PLANET, NO, 149, S, DE, S, JAYASINGHE, ...","[COOL, PLANET, NO, 149, S, DE, S, JAYASINGHE, ..."
26,K 13 01 376 KB QD LTE 1 59 Vol ...,"[K, 13, 01, 376, KB, QD, LTE, 1, 59, Vol, Keel...","[K, 13, 01, 376, KB, QD, LTE, 1, 59, Vol, Keel...","[K, 13, 01, 376, KB, QD, LTE, 1, 59, VOL, KEEL...","[K, 13, 01, 376, KB, QD, LTE, 1, 59, VOL, KEEL..."
27,Carnage Thank you for your purchase Visit...,"[Carnage, Thank, you, for, your, purchase, Vis...","[Carnage, Thank, you, for, your, purchase, Vis...","[CARNAGE, THANK, YOU, FOR, YOUR, PURCHASE, VIS...","[CARNAGE, THANK, YOU, FOR, YOUR, PURCHASE, VIS..."
28,Thank you for your purchase Hi Chsndi ma ...,"[Thank, you, for, your, purchase, Hi, Chsndi, ...","[Thank, you, for, your, purchase, Hi, Chsndi, ...","[THANK, YOU, FOR, YOUR, PURCHASE, HI, CHSNDI, ...","[THANK, YOU, FOR, YOUR, PURCHASE, HI, CHSNDI, ..."
29,rrage ORDER 226082 Thank you for your pur...,"[rrage, ORDER, 226082, Thank, you, for, your, ...","[rrage, ORDER, 226082, Thank, you, for, your, ...","[RRAGE, ORDER, 226082, THANK, YOU, FOR, YOUR, ...","[RRAGE, ORDER, 226082, THANK, YOU, FOR, YOUR, ..."

## Data Labeling

In [13]:
# Correct the length of the 'Category' list to match the 'Item' list
labeled_data = pd.DataFrame({
    'Item': [
        
        # CLOTHING
        'CLOTHES', 'SHIRT','SHORT','TOP','CARGO','CARNAGE','GFLOCK','KELLY','FELDER','HAT','POLO', 'PANTS', 'SLIPPER', 'NYLON', 'ATHLETICS', 'ACCESSORY','BAG','HANDBAGS','WAVES',
        'FIGURES','CARNAC', 'WINES','Essential','Training','PREMIUM', 'HERITAGE', 'KNIT','NOLIMIT','SWIMWEAR','LINGERIE','HUSTLE','FOOTWEAR','COOLPLANET','COSMETICS','JEWELLERY','DRESSES','FASHION','TOWEL',
        
        #ENTERTAINMENT
        'CELLULAR','CINEMA','AIRBUDS','SHOW','TOYS','SAVOY','THEATER','PARTY',
        
        
        # FOOD AND DRINKS
        'BANANA', 'TOMATO', 'MOZZARELLA', 'EGG', 'PEANUT', 'AVOCADO', 'CUCUMBER',
        'PORK', 'CHICKEN', 'BEEF', 'SALAMI', 'RICE', 'BREAD', 'MILK', 'SNICKER',
        'CHOC', 'JUICE', 'FRAP', 'WATER', 'SODA','CRUST','FRIED', 'BEANS', 'GROCERY', 'SPROUTED',
        'CARROTS', 'APPLE','NAARANG','BACON', 'SMAK','BABY','OATMEAL', 'VIENNAS', 'PEPPER', 'PEACHES', 'LAZENBY WORCESTER SALICE',
        'MEDITERRANEAN MIX', 'NESTLE', 'CADBURY', 'CARRIER BAG', 'GRAPES', 'BLACK CAT SMOOTH',
        'PLUMS', 'CAGE FREE','NEXUS','KELLOGGS', 'MANDARIN','TORTILLA', 'MANGO', 'KANDOS','Strawberries', 'DRUMSTICKS', 'MEAT','CHEES','DINE','ALOE'
        'SNDWCH', 'PNAPL', 'NOODLES', 'HAM','OATS','PIZZA', 'KRFT DELUXE MAC', 'LINKS MILD', 'COTTAGE CHEESE','MEAT','MILO',
        'FILLETS', 'HARVEST','SALT' ,'POMEGRANATE', 'BEVERAGE', 'STRAWBERRY', 'WHITE', 'SINGLES','CHERAMY','HOTEL','RICHLIFE',
        'VALUE', 'CHERRIES', 'SOAP','FIBER CHOICE', 'CELERY', 'TATER TOTS', 'HARD CHEESE', 'SWEET TEA','SOUP','VANILLA',
        'CHEEZE IT', 'CRACKERS','CARGILLS','SPARSRILANKA', 'SNACK BARS', 'PEPPERONI', 'BAGELS', 'BUNS', 'STEAK', 'GARLIC','HAWAIIAN','COKE',
        'SPAGHETTI', 'SALSA', 'CHICKEN WINGS', 'KEELLS','GROUND BEEF', 'CHEF MEAL', 'BRIOCHE', 'ONION','KOTTUMIX','ROAST',
        'JACK CHEESE','EGGS','NESCAFE','KOLIKUTTU','CORN', 'WORCESTER SAUCE', 'RITZ', 'POTATO CHIPS', 'CHOCOLATE', 'PASTA','ALMOND',
        'ROLLS', 'SPREADS', 'SAUCE','NAAN','PEDIGREE', 'POTATO SALAD', 'FISH', 'WINES','CHICKEN','SPAR','DEVILLE','KINLEY','STATIONERY','COCA','DOMINOS','TOOTHBRUSH', 'OIL', 'DETERGENT', 'BATTERIES', 'EARBUDS', 'LINT ROLLER',
        'PLATE','CONDITIONER','MELON','VASELINE','COFFEE','HAND CLEANER','CASSAVA','YOGHURT','PHILIP','JAGRO','CHOCO','FARM','TAPE', 'LINER', 'GRILL COVER', 'CLEANER','TUMBLER', 'DIABETES','DOMINOS',

        #PURCHASES
        'EYEWEAR','PERFUME',
        
        #SUBCRIPTIONS
        'CONNECTION','DIALOG','POSTPAID',
        
        #TRANSPORTATION
        'TRAVELS','STATION','JOURNEY',
        
        #MISCELLANEOUS
        'PHARMACY','PATIENT','PHILIPHOSPITALS','NAWALOKA','URINE','LABORATORY','MEDICINE', 'INJECTR', 'VITAMIN', 'FIBER CHOICE', 'DIABETES','HOSPITALS','CHEST','DOCTOR'
    ],
    'Category': [
        # CLOTHING
        *(['CLOTHING'] * 38),

       # ENTERTAINMENT
        *(['ENTERTAINMENT'] * 8),

        # FOOD AND DRINKS
        *(['FOOD AND DRINKS'] * 160),

        # PURCHASES
        *(['PURCHASES'] * 2),

        #SUBCRIPTIONS
        *(['SUBCRIPTIONS'] * 3),
        #TRANSPORTATION
        *(['TRANSPORTATION'] * 3),
        #MISCELLANEOUS
        *(['MISCELLANEOUS'] * 14)
    ]
})

# Display the first few rows
print(labeled_data.head())

      Item  Category
0  CLOTHES  CLOTHING
1    SHIRT  CLOTHING
2    SHORT  CLOTHING
3      TOP  CLOTHING
4    CARGO  CLOTHING

In [14]:
labeled_data

             Item       Category
0         CLOTHES       CLOTHING
1           SHIRT       CLOTHING
2           SHORT       CLOTHING
3             TOP       CLOTHING
4           CARGO       CLOTHING
..            ...            ...
223  FIBER CHOICE  MISCELLANEOUS
224      DIABETES  MISCELLANEOUS
225     HOSPITALS  MISCELLANEOUS
226         CHEST  MISCELLANEOUS
227        DOCTOR  MISCELLANEOUS

[228 rows x 2 columns]

In [15]:
bill_data = df_one_line

In [16]:
# Convert labeled_data Item names to uppercase for matching
labeled_data['Item'] = labeled_data['Item'].str.upper()

In [17]:
# Create a dictionary mapping items to categories
category_dict = dict(zip(labeled_data['Item'], labeled_data['Category']))

In [18]:
# Function to categorize each bill entry
def categorize_bill(items):
    for item in items:  # Check each word in the bill data
        if item in category_dict:
            return category_dict[item]  # Return first match found
    return 'UNKNOWN'  # Default category if no match found

# Apply categorization function
bill_data['Category'] = bill_data['no_punc'].apply(categorize_bill)

# Display result
print(bill_data)

                                            Bill_Data  \
0      42 FO OP 01   NAWALOKA HOSPITALS PIC   TEL ...
1      Pizza Hut   NO  84  Galle Road  Mount Lavin...
2   S   ees   TAX INVOICE   Dominos Pizza   Dehiwa...
3      Keells   No  290  Old Galle Rd  Gorakana  P...
4   ONTIME CELLULAR  Pvt     Innovation of a new G...
5   KANDOS SHOP FORT RECEIPT   INVOICE  75272   DE...
6   Hotel De Piaza  Pvt  Ltd    29  alle Road  Col...
7    Prx ale  Landed   Type   Catego y   FULL   E ...
8   CASHIER 01   Hil naan   No  46 Station Road  D...
9   KESHARA TRAVELS NB 1073 PERMIT 11756 RT 04   N...
10  CARGILLS FOOD CITY Express Hunupitiya   011294...
11  42 FO OP 01   NAWALOKA HOSPITALS PIC TEL   94 ...
12  GREEN FIELD   5305 E PACIFIC COAST HWY Long Be...
13  Keells   No 290 0ld Galle Rd  Gorakana  Panadu...
14  Keells   No  290  01d Galle Rd  Gorakana  Pana...
15  SPARO   KELANIYA     Kandy Road  Dalugama  Kal...
16  COOL PLANET   E Bill   PDF   LIFE IN STYLE   C...
17  NOLIMIT   Receipt No     01  HILL STREET   DEH...
18  NEW PHILIP HOSPITALS PVT LTD   225  Galle Road...
19     N   M   CS    waves   Sri Lanka   Waves Hav...
20  Keells   No  35  Upathissa Road  Bambalapitiya...
21  Keells   No  35  Upathissa Road  Bambalapitiya...
22     Dialog   Payment confirmation   Transaction...
23     K   king N thai   354 A  Galle Road  Thalpi...
24  K   Keells E Bills 18 04 2023   to me   Bill D...
25  COOL PLANET   NO  149    S DE S  JAYASINGHE MA...
26  K   13 01 376   KB    QD   LTE 1   59    Vol  ...
27  Carnage   Thank you for your purchase    Visit...
28  Thank you for your purchase    Hi Chsndi ma   ...
29  rrage   ORDER  226082   Thank you for your pur...

                                    Bill_Data_cleaned  \
0   [42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...
1   [Pizza, Hut, NO, 84, Galle, Road, Mount, Lavin...
2   [S, ees, TAX, INVOICE, Dominos, Pizza, Dehiwal...
3   [Keells, No, 290, Old, Galle, Rd, Gorakana, Pa...
4   [ONTIME, CELLULAR, Pvt, Innovation, of, a, new...
5   [KANDOS, SHOP, FORT, RECEIPT, INVOICE, 75272, ...
6   [Hotel, De, Piaza, Pvt, Ltd, 29, alle, Road, C...
7   [Prx, ale, Landed, Type, Catego, y, FULL, E, B...
8   [CASHIER, 01, Hil, naan, No, 46, Station, Road...
9   [KESHARA, TRAVELS, NB, 1073, PERMIT, 11756, RT...
10  [CARGILLS, FOOD, CITY, Express, Hunupitiya, 01...
11  [42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...
12  [GREEN, FIELD, 5305, E, PACIFIC, COAST, HWY, L...
13  [Keells, No, 290, 0ld, Galle, Rd, Gorakana, Pa...
14  [Keells, No, 290, 01d, Galle, Rd, Gorakana, Pa...
15  [SPARO, KELANIYA, Kandy, Road, Dalugama, Kalan...
16  [COOL, PLANET, E, Bill, PDF, LIFE, IN, STYLE, ...
17  [NOLIMIT, Receipt, No, 01, HILL, STREET, DEHIW...
18  [NEW, PHILIP, HOSPITALS, PVT, LTD, 225, Galle,...
19  [N, M, CS, waves, Sri, Lanka, Waves, Havelock,...
20  [Keells, No, 35, Upathissa, Road, Bambalapitiy...
21  [Keells, No, 35, Upathissa, Road, Bambalapitiy...
22  [Dialog, Payment, confirmation, Transaction, I...
23  [K, king, N, thai, 354, A, Galle, Road, Thalpi...
24  [K, Keells, E, Bills, 18, 04, 2023, to, me, Bi...
25  [COOL, PLANET, NO, 149, S, DE, S, JAYASINGHE, ...
26  [K, 13, 01, 376, KB, QD, LTE, 1, 59, Vol, Keel...
27  [Carnage, Thank, you, for, your, purchase, Vis...
28  [Thank, you, for, your, purchase, Hi, Chsndi, ...
29  [rrage, ORDER, 226082, Thank, you, for, your, ...

                                            tokenized  \
0   [42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...
1   [Pizza, Hut, NO, 84, Galle, Road, Mount, Lavin...
2   [S, ees, TAX, INVOICE, Dominos, Pizza, Dehiwal...
3   [Keells, No, 290, Old, Galle, Rd, Gorakana, Pa...
4   [ONTIME, CELLULAR, Pvt, Innovation, of, a, new...
5   [KANDOS, SHOP, FORT, RECEIPT, INVOICE, 75272, ...
6   [Hotel, De, Piaza, Pvt, Ltd, 29, alle, Road, C...
7   [Prx, ale, Landed, Type, Catego, y, FULL, E, B...
8   [CASHIER, 01, Hil, naan, No, 46, Station, Road...
9   [KESHARA, TRAVELS, NB, 1073, PERMIT, 11756, RT...
10  [CARGILLS, FOOD, CITY, Express, Hunupitiya, 01...
11  [42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...
12  [GREEN, FIELD, 5305, E, PACIFIC, COAST, HWY, L...
13  [Keells, No, 290, 0ld, Galle, Rd, Gorakana, Pa...
14  [Keells, No, 290, 01d, Galle, Rd, Gorakana, Pa...
15  [SPARO, KELANIYA, Kandy, Road, Dalugama, Kalan...
16  [COOL, PLANET, E, Bill, PDF, LIFE, IN, STYLE, ...
17  [NOLIMIT, Receipt, No, 01, HILL, STREET, DEHIW...
18  [NEW, PHILIP, HOSPITALS, PVT, LTD, 225, Galle,...
19  [N, M, CS, waves, Sri, Lanka, Waves, Havelock,...
20  [Keells, No, 35, Upathissa, Road, Bambalapitiy...
21  [Keells, No, 35, Upathissa, Road, Bambalapitiy...
22  [Dialog, Payment, confirmation, Transaction, I...
23  [K, king, N, thai, 354, A, Galle, Road, Thalpi...
24  [K, Keells, E, Bills, 18, 04, 2023, to, me, Bi...
25  [COOL, PLANET, NO, 149, S, DE, S, JAYASINGHE, ...
26  [K, 13, 01, 376, KB, QD, LTE, 1, 59, Vol, Keel...
27  [Carnage, Thank, you, for, your, purchase, Vis...
28  [Thank, you, for, your, purchase, Hi, Chsndi, ...
29  [rrage, ORDER, 226082, Thank, you, for, your, ...

                                                upper  \
0   [42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...
1   [PIZZA, HUT, NO, 84, GALLE, ROAD, MOUNT, LAVIN...
2   [S, EES, TAX, INVOICE, DOMINOS, PIZZA, DEHIWAL...
3   [KEELLS, NO, 290, OLD, GALLE, RD, GORAKANA, PA...
4   [ONTIME, CELLULAR, PVT, INNOVATION, OF, A, NEW...
5   [KANDOS, SHOP, FORT, RECEIPT, INVOICE, 75272, ...
6   [HOTEL, DE, PIAZA, PVT, LTD, 29, ALLE, ROAD, C...
7   [PRX, ALE, LANDED, TYPE, CATEGO, Y, FULL, E, B...
8   [CASHIER, 01, HIL, NAAN, NO, 46, STATION, ROAD...
9   [KESHARA, TRAVELS, NB, 1073, PERMIT, 11756, RT...
10  [CARGILLS, FOOD, CITY, EXPRESS, HUNUPITIYA, 01...
11  [42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...
12  [GREEN, FIELD, 5305, E, PACIFIC, COAST, HWY, L...
13  [KEELLS, NO, 290, 0LD, GALLE, RD, GORAKANA, PA...
14  [KEELLS, NO, 290, 01D, GALLE, RD, GORAKANA, PA...
15  [SPARO, KELANIYA, KANDY, ROAD, DALUGAMA, KALAN...
16  [COOL, PLANET, E, BILL, PDF, LIFE, IN, STYLE, ...
17  [NOLIMIT, RECEIPT, NO, 01, HILL, STREET, DEHIW...
18  [NEW, PHILIP, HOSPITALS, PVT, LTD, 225, GALLE,...
19  [N, M, CS, WAVES, SRI, LANKA, WAVES, HAVELOCK,...
20  [KEELLS, NO, 35, UPATHISSA, ROAD, BAMBALAPITIY...
21  [KEELLS, NO, 35, UPATHISSA, ROAD, BAMBALAPITIY...
22  [DIALOG, PAYMENT, CONFIRMATION, TRANSACTION, I...
23  [K, KING, N, THAI, 354, A, GALLE, ROAD, THALPI...
24  [K, KEELLS, E, BILLS, 18, 04, 2023, TO, ME, BI...
25  [COOL, PLANET, NO, 149, S, DE, S, JAYASINGHE, ...
26  [K, 13, 01, 376, KB, QD, LTE, 1, 59, VOL, KEEL...
27  [CARNAGE, THANK, YOU, FOR, YOUR, PURCHASE, VIS...
28  [THANK, YOU, FOR, YOUR, PURCHASE, HI, CHSNDI, ...
29  [RRAGE, ORDER, 226082, THANK, YOU, FOR, YOUR, ...

                                              no_punc         Category
0   [42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...    MISCELLANEOUS
1   [PIZZA, HUT, NO, 84, GALLE, ROAD, MOUNT, LAVIN...  FOOD AND DRINKS
2   [S, EES, TAX, INVOICE, DOMINOS, PIZZA, DEHIWAL...  FOOD AND DRINKS
3   [KEELLS, NO, 290, OLD, GALLE, RD, GORAKANA, PA...  FOOD AND DRINKS
4   [ONTIME, CELLULAR, PVT, INNOVATION, OF, A, NEW...    ENTERTAINMENT
5   [KANDOS, SHOP, FORT, RECEIPT, INVOICE, 75272, ...  FOOD AND DRINKS
6   [HOTEL, DE, PIAZA, PVT, LTD, 29, ALLE, ROAD, C...  FOOD AND DRINKS
7   [PRX, ALE, LANDED, TYPE, CATEGO, Y, FULL, E, B...    ENTERTAINMENT
8   [CASHIER, 01, HIL, NAAN, NO, 46, STATION, ROAD...  FOOD AND DRINKS
9   [KESHARA, TRAVELS, NB, 1073, PERMIT, 11756, RT...   TRANSPORTATION
10  [CARGILLS, FOOD, CITY, EXPRESS, HUNUPITIYA, 01...  FOOD AND DRINKS
11  [42, FO, OP, 01, NAWALOKA, HOSPITALS, PIC, TEL...    MISCELLANEOUS
12  [GREEN, FIELD, 5305, E, PACIFIC, COAST, HWY, L...   TRANSPORTATION
13  [KEELLS, NO, 290, 0LD, GALLE, RD, GORAKANA, PA...  FOOD AND DRINKS
14  [KEELLS, NO, 290, 01D, GALLE, RD, GORAKANA, PA...  FOOD AND DRINKS
15  [SPARO, KELANIYA, KANDY, ROAD, DALUGAMA, KALAN...  FOOD AND DRINKS
16  [COOL, PLANET, E, BILL, PDF, LIFE, IN, STYLE, ...         CLOTHING
17  [NOLIMIT, RECEIPT, NO, 01, HILL, STREET, DEHIW...         CLOTHING
18  [NEW, PHILIP, HOSPITALS, PVT, LTD, 225, GALLE,...  FOOD AND DRINKS
19  [N, M, CS, WAVES, SRI, LANKA, WAVES, HAVELOCK,...         CLOTHING
20  [KEELLS, NO, 35, UPATHISSA, ROAD, BAMBALAPITIY...  FOOD AND DRINKS
21  [KEELLS, NO, 35, UPATHISSA, ROAD, BAMBALAPITIY...  FOOD AND DRINKS
22  [DIALOG, PAYMENT, CONFIRMATION, TRANSACTION, I...     SUBCRIPTIONS
23  [K, KING, N, THAI, 354, A, GALLE, ROAD, THALPI...  FOOD AND DRINKS
24  [K, KEELLS, E, BILLS, 18, 04, 2023, TO, ME, BI...  FOOD AND DRINKS
25  [COOL, PLANET, NO, 149, S, DE, S, JAYASINGHE, ...         CLOTHING
26  [K, 13, 01, 376, KB, QD, LTE, 1, 59, VOL, KEEL...  FOOD AND DRINKS
27  [CARNAGE, THANK, YOU, FOR, YOUR, PURCHASE, VIS...         CLOTHING
28  [THANK, YOU, FOR, YOUR, PURCHASE, HI, CHSNDI, ...         CLOTHING

29  [RRAGE, ORDER, 226082, THANK, YOU, FOR, YOUR, ...         CLOTHING

## Model Building

In [19]:
# Convert text data (Item names) into numerical features
vectorizer = CountVectorizer(stop_words='english')

In [20]:
# Convert lists to strings
bill_data['no_punc'] = bill_data['no_punc'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)

# Now apply the vectorizer
X_train = vectorizer.fit_transform(bill_data['no_punc'])

In [21]:
y_train = bill_data['Category']

In [22]:
# Split labeled data for model evaluation
X_train_split, X_test_split, y_train_split, y_test_split = train_test_split(
    X_train, y_train, test_size=0.2, random_state=42
)

# Train the Nave Bayes classifier
model = MultinomialNB()
model.fit(X_train_split, y_train_split)

# Model evaluation
predictions = model.predict(X_test_split)
print("Model Accuracy:", accuracy_score(y_test_split, predictions))
print(classification_report(y_test_split, predictions))

Model Accuracy: 0.3333333333333333
                 precision    recall  f1-score   support

       CLOTHING       0.33      0.50      0.40         2
  ENTERTAINMENT       0.00      0.00      0.00         0
FOOD AND DRINKS       0.50      0.33      0.40         3
 TRANSPORTATION       0.00      0.00      0.00         1

       accuracy                           0.33         6
      macro avg       0.21      0.21      0.20         6
   weighted avg       0.36      0.33      0.33         6

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [23]:
import pickle

# Save the model
with open("naive_bayes_model.pkl", "wb") as file:
    pickle.dump(model, file)

# Save the vectorizer
with open("vectorizer.pkl", "wb") as file:
    pickle.dump(vectorizer, file)

print("Model and vectorizer saved successfully!")

Model and vectorizer saved successfully!

In [24]:
# # Hyperparameter Tuning (Optional) - For Nave Bayes, you can try adjusting alpha
# # Hyperparameter search for Nave Bayes (Alpha parameter)
# from sklearn.model_selection import GridSearchCV
# param_grid = {'alpha': [0.1, 0.5, 1.0, 2.0, 5.0]}
# grid_search = GridSearchCV(MultinomialNB(), param_grid, cv=5)
# grid_search.fit(X_train_split, y_train_split)
# print(f"Best alpha value: {grid_search.best_params_}")

# # Try other models for comparison
# models = {
#     'Logistic Regression': LogisticRegression(max_iter=1000),
#     'Random Forest': RandomForestClassifier(),
#     'SVM': SVC()
# }

# # Train and evaluate other models
# for name, model in models.items():
#     print(f"\n{name} Model:")
#     model.fit(X_train_split, y_train_split)
#     y_pred = model.predict(X_test_split)
#     print(f"Accuracy: {accuracy_score(y_test_split, y_pred)}")
#     print("Classification Report:")
#     print(classification_report(y_test_split, y_pred))
#     print("Confusion Matrix:")
#     print(confusion_matrix(y_test_split, y_pred))

## Prediction from Nave Bayes

In [25]:
data = pd.read_excel('sample_dataset.xlsx')

In [26]:
data

                                                Item
0  CARGILLS FOOD CITY\nMount Lavinia 02\n0112-725...
1  \n****** Result for Image/Page 1 ******\nCARNA...
2  \n****** Result for Image/Page 1 ******\nOrder...
3  \n****** Result for Image/Page 1 ******\nDS! P...
4  \n****** Result for Image/Page 1 ******\nOrder...
5  \n****** Result for Image/Page 1 ******\nCARGI...

In [27]:
import pandas as pd

def format_dataframe_to_one_line(df, column_name):
    # Convert each row in the specified column to a single-line format
    df[column_name] = df[column_name].astype(str).apply(lambda row: ' | '.join(row.splitlines()))
    return df


column_name = "Item"  # Specify the column name

# Convert the specified column to a single-line format
data_one_line = format_dataframe_to_one_line(data, column_name)

# Print the first few lines as a preview
print(data_one_line.head())

                                                Item
0  CARGILLS FOOD CITY | Mount Lavinia 02 | 0112-7...
1   | ****** Result for Image/Page 1 ****** | CAR...
2   | ****** Result for Image/Page 1 ****** | Ord...
3   | ****** Result for Image/Page 1 ****** | DS!...
4   | ****** Result for Image/Page 1 ****** | Ord...

In [28]:
data_one_line["Item"] = data_one_line["Item"].str.replace(r"\*\*\*\*\*\* Result for Image/Page 1 \*\*\*\*\*\*", "", regex=True)

In [29]:
#remove special characters from pros&cons column
data_one_line['Item'] = data_one_line['Item'].str.replace('\W', ' ', regex=True)

In [30]:
data_one_line

                                                Item
0  CARGILLS FOOD CITY   Mount Lavinia 02   0112 7...
1        CARNAC    ORDER  329108   Thank you for ...
2        Order summary   Skinny Edge x 1   Mid Bl...
3        DS  PREMIER OGF   31 05 2023   002 36835...
4        Order summary   Bloom With Grace WW Dres...
5        CARGILLS FOOD CITY   Mount Lavinia 02   ...

In [31]:
data_one_line['Bill_Data_cleaned'] = data_one_line['Item'].apply(lambda x: [contractions.fix(word) for word in x.split()])
data_one_line.head(5)

,Item,Bill_Data_cleaned
0,CARGILLS FOOD CITY Mount Lavinia 02 0112 7...,"[CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011..."
1,CARNAC ORDER 329108 Thank you for ...,"[CARNAC, ORDER, 329108, Thank, you, for, your,..."
2,Order summary Skinny Edge x 1 Mid Bl...,"[Order, summary, Skinny, Edge, x, 1, Mid, Blue..."
3,DS PREMIER OGF 31 05 2023 002 36835...,"[DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,..."
4,Order summary Bloom With Grace WW Dres...,"[Order, summary, Bloom, With, Grace, WW, Dress..."

In [32]:
# Tokenised
data_one_line['tokenized'] =data_one_line['Item'].apply(word_tokenize)
data_one_line.head()

,Item,Bill_Data_cleaned,tokenized
0,CARGILLS FOOD CITY Mount Lavinia 02 0112 7...,"[CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011...","[CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011..."
1,CARNAC ORDER 329108 Thank you for ...,"[CARNAC, ORDER, 329108, Thank, you, for, your,...","[CARNAC, ORDER, 329108, Thank, you, for, your,..."
2,Order summary Skinny Edge x 1 Mid Bl...,"[Order, summary, Skinny, Edge, x, 1, Mid, Blue...","[Order, summary, Skinny, Edge, x, 1, Mid, Blue..."
3,DS PREMIER OGF 31 05 2023 002 36835...,"[DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...","[DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,..."
4,Order summary Bloom With Grace WW Dres...,"[Order, summary, Bloom, With, Grace, WW, Dress...","[Order, summary, Bloom, With, Grace, WW, Dress..."

In [33]:
data_emp_comm_clear= data_one_line.copy()

In [34]:
# Converting all Characters to Lowercase

data_emp_comm_clear['upper'] = data_emp_comm_clear['tokenized'].apply(lambda x: [word.upper() for word in x])
data_emp_comm_clear.head()

,Item,Bill_Data_cleaned,tokenized,upper
0,CARGILLS FOOD CITY Mount Lavinia 02 0112 7...,"[CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011...","[CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011...","[CARGILLS, FOOD, CITY, MOUNT, LAVINIA, 02, 011..."
1,CARNAC ORDER 329108 Thank you for ...,"[CARNAC, ORDER, 329108, Thank, you, for, your,...","[CARNAC, ORDER, 329108, Thank, you, for, your,...","[CARNAC, ORDER, 329108, THANK, YOU, FOR, YOUR,..."
2,Order summary Skinny Edge x 1 Mid Bl...,"[Order, summary, Skinny, Edge, x, 1, Mid, Blue...","[Order, summary, Skinny, Edge, x, 1, Mid, Blue...","[ORDER, SUMMARY, SKINNY, EDGE, X, 1, MID, BLUE..."
3,DS PREMIER OGF 31 05 2023 002 36835...,"[DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...","[DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...","[DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,..."
4,Order summary Bloom With Grace WW Dres...,"[Order, summary, Bloom, With, Grace, WW, Dress...","[Order, summary, Bloom, With, Grace, WW, Dress...","[ORDER, SUMMARY, BLOOM, WITH, GRACE, WW, DRESS..."

In [35]:
# Removing Punctuations

punc = string.punctuation
data_emp_comm_clear['no_punc'] = data_emp_comm_clear['upper'].apply(lambda x: [word for word in x if word not in punc])
data_emp_comm_clear.head()

,Item,Bill_Data_cleaned,tokenized,upper,no_punc
0,CARGILLS FOOD CITY Mount Lavinia 02 0112 7...,"[CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011...","[CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011...","[CARGILLS, FOOD, CITY, MOUNT, LAVINIA, 02, 011...","[CARGILLS, FOOD, CITY, MOUNT, LAVINIA, 02, 011..."
1,CARNAC ORDER 329108 Thank you for ...,"[CARNAC, ORDER, 329108, Thank, you, for, your,...","[CARNAC, ORDER, 329108, Thank, you, for, your,...","[CARNAC, ORDER, 329108, THANK, YOU, FOR, YOUR,...","[CARNAC, ORDER, 329108, THANK, YOU, FOR, YOUR,..."
2,Order summary Skinny Edge x 1 Mid Bl...,"[Order, summary, Skinny, Edge, x, 1, Mid, Blue...","[Order, summary, Skinny, Edge, x, 1, Mid, Blue...","[ORDER, SUMMARY, SKINNY, EDGE, X, 1, MID, BLUE...","[ORDER, SUMMARY, SKINNY, EDGE, X, 1, MID, BLUE..."
3,DS PREMIER OGF 31 05 2023 002 36835...,"[DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...","[DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...","[DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...","[DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,..."
4,Order summary Bloom With Grace WW Dres...,"[Order, summary, Bloom, With, Grace, WW, Dress...","[Order, summary, Bloom, With, Grace, WW, Dress...","[ORDER, SUMMARY, BLOOM, WITH, GRACE, WW, DRESS...","[ORDER, SUMMARY, BLOOM, WITH, GRACE, WW, DRESS..."

In [36]:
print(data_emp_comm_clear.shape)

(6, 5)

In [37]:
# data_emp_comm_clear.to_csv("data_emp_comm_clear.csv")

In [38]:
import re
import pandas as pd
import numpy as np

def extract_receipt_amounts(text):
    # If the input is a list or numpy array, join its elements into a single string.
    if isinstance(text, (list, np.ndarray)):
        text = " ".join(map(str, text))
    
    # Ensure the input is a string.
    if not isinstance(text, str):
        text = str(text)
    
    # Now check if the string is NaN.
    if pd.isna(text):
        return {}
    
    pattern = re.compile(
        r"((?:SUB[\s-]*TOTAL)|(?:NET[\s-]*TOTAL)|TOTAL|AMOUNT)\s+"
        r"(?:LKR|RS)?\s*"
        r"((?:\d+[ ,]*)+\.?\d*)",
        re.IGNORECASE
    )
    
    matches = pattern.findall(text)
    amounts_dict = {}
    
    for raw_label, raw_amount in matches:
        # Normalize the label: remove spaces/hyphens and convert to lowercase.
        label = raw_label.lower().replace(" ", "").replace("-", "")
        
        # Remove commas and spaces from the numeric string.
        clean_amount = raw_amount.replace(",", "").replace(" ", "")
        
        # Attempt to parse as float.
        try:
            # If no decimal point is present and length > 2, assume last 2 digits are decimals.
            if "." not in clean_amount and len(clean_amount) > 2:
                clean_amount = clean_amount[:-2] + "." + clean_amount[-2:]
            parsed_amount = float(clean_amount)
        except ValueError:
            continue
        
        # Append the parsed amount to the dictionary under the normalized label.
        if label not in amounts_dict:
            amounts_dict[label] = []
        amounts_dict[label].append(parsed_amount)
        
    return amounts_dict

In [39]:
data_emp_comm_clear["extracted_amounts"] = data_emp_comm_clear["no_punc"].apply(extract_receipt_amounts)
print(data_emp_comm_clear)

                                                Item  \
0  CARGILLS FOOD CITY   Mount Lavinia 02   0112 7...
1        CARNAC    ORDER  329108   Thank you for ...
2        Order summary   Skinny Edge x 1   Mid Bl...
3        DS  PREMIER OGF   31 05 2023   002 36835...
4        Order summary   Bloom With Grace WW Dres...
5        CARGILLS FOOD CITY   Mount Lavinia 02   ...

                                   Bill_Data_cleaned  \
0  [CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011...
1  [CARNAC, ORDER, 329108, Thank, you, for, your,...
2  [Order, summary, Skinny, Edge, x, 1, Mid, Blue...
3  [DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...
4  [Order, summary, Bloom, With, Grace, WW, Dress...
5  [CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011...

                                           tokenized  \
0  [CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011...
1  [CARNAC, ORDER, 329108, Thank, you, for, your,...
2  [Order, summary, Skinny, Edge, x, 1, Mid, Blue...
3  [DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...
4  [Order, summary, Bloom, With, Grace, WW, Dress...
5  [CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011...

                                               upper  \
0  [CARGILLS, FOOD, CITY, MOUNT, LAVINIA, 02, 011...
1  [CARNAC, ORDER, 329108, THANK, YOU, FOR, YOUR,...
2  [ORDER, SUMMARY, SKINNY, EDGE, X, 1, MID, BLUE...
3  [DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...
4  [ORDER, SUMMARY, BLOOM, WITH, GRACE, WW, DRESS...
5  [CARGILLS, FOOD, CITY, MOUNT, LAVINIA, 02, 011...

                                             no_punc      extracted_amounts
0  [CARGILLS, FOOD, CITY, MOUNT, LAVINIA, 02, 011...  {'amount': [1234.67]}
1  [CARNAC, ORDER, 329108, THANK, YOU, FOR, YOUR,...   {'total': [18650.0]}
2  [ORDER, SUMMARY, SKINNY, EDGE, X, 1, MID, BLUE...    {'total': [8990.0]}
3  [DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...                     {}
4  [ORDER, SUMMARY, BLOOM, WITH, GRACE, WW, DRESS...   {'total': [20180.0]}
5  [CARGILLS, FOOD, CITY, MOUNT, LAVINIA, 02, 011...  {'amount': [1234.67]}

In [40]:
# data_emp_comm_clear["extracted_amounts"] = data_emp_comm_clear["receipt_text"].apply(extract_receipt_amounts)

In [42]:
# Ensure all entries in 'no_punc' are strings
data_emp_comm_clear['no_punc'] = data_emp_comm_clear['no_punc'].apply(lambda x: ' '.join(x) if isinstance(x, list) else str(x))

# Transform new data and make predictions
X_new = vectorizer.transform(data_emp_comm_clear['no_punc'])
data_emp_comm_clear['Predicted Category'] = model.predict(X_new)

# Display categorized expenses
print(data_emp_comm_clear.head())

                                                Item  \
0  CARGILLS FOOD CITY   Mount Lavinia 02   0112 7...
1        CARNAC    ORDER  329108   Thank you for ...
2        Order summary   Skinny Edge x 1   Mid Bl...
3        DS  PREMIER OGF   31 05 2023   002 36835...
4        Order summary   Bloom With Grace WW Dres...

                                   Bill_Data_cleaned  \
0  [CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011...
1  [CARNAC, ORDER, 329108, Thank, you, for, your,...
2  [Order, summary, Skinny, Edge, x, 1, Mid, Blue...
3  [DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...
4  [Order, summary, Bloom, With, Grace, WW, Dress...

                                           tokenized  \
0  [CARGILLS, FOOD, CITY, Mount, Lavinia, 02, 011...
1  [CARNAC, ORDER, 329108, Thank, you, for, your,...
2  [Order, summary, Skinny, Edge, x, 1, Mid, Blue...
3  [DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...
4  [Order, summary, Bloom, With, Grace, WW, Dress...

                                               upper  \
0  [CARGILLS, FOOD, CITY, MOUNT, LAVINIA, 02, 011...
1  [CARNAC, ORDER, 329108, THANK, YOU, FOR, YOUR,...
2  [ORDER, SUMMARY, SKINNY, EDGE, X, 1, MID, BLUE...
3  [DS, PREMIER, OGF, 31, 05, 2023, 002, 3683517,...
4  [ORDER, SUMMARY, BLOOM, WITH, GRACE, WW, DRESS...

                                             no_punc      extracted_amounts  \
0  CARGILLS FOOD CITY MOUNT LAVINIA 02 0112 72526...  {'amount': [1234.67]}
1  CARNAC ORDER 329108 THANK YOU FOR YOUR PURCHAS...   {'total': [18650.0]}
2  ORDER SUMMARY SKINNY EDGE X 1 MID BLUE 32 SUBT...    {'total': [8990.0]}
3  DS PREMIER OGF 31 05 2023 002 3683517 YH0234 4...                     {}
4  ORDER SUMMARY BLOOM WITH GRACE WW DRESS X 1 DA...   {'total': [20180.0]}

  Predicted Category
0    FOOD AND DRINKS
1           CLOTHING
2           CLOTHING
3           CLOTHING
4           CLOTHING

In [ ]:
data_emp_comm_clear

#### Other Models

In [ ]:
logistic_model_v1 = LogisticRegression(max_iter=1000)
logistic_model_v1.fit(X_train_split, y_train_split)

y_pred = logistic_model_v1.predict(X_test_split)
print(f"Accuracy: {accuracy_score(y_test_split, y_pred)}")
print("Classification Report:")
print(classification_report(y_test_split, y_pred))
print("Confusion Matrix:")
print(confusion_matrix(y_test_split, y_pred))

In [ ]:


# Convert lists to strings
data_emp_comm_clear['no_punc'] = data_emp_comm_clear['no_punc'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)

# Apply the vectorizer
X_new = vectorizer.transform(data_emp_comm_clear['no_punc'])
data_emp_comm_clear['Predicted Category'] = logistic_model_v1.predict(X_new)

# Display categorized expenses
print(data_emp_comm_clear.head())